<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span>
            <input type="text" v-model='fn' @c>
            <input type="text" v-model='ln'>
        </span>
        <br>
        <span>
            <input type="text" v-model='fns'>
        </span>
    </div>
    
</body>
<script src="../lib/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            fn: 'Jim',
            ln: 'Grean',
            fns: 'Jim Gream'
        },
        // 监听实现
        watch: {
            // fn: function(val) {
            //     this.fns = val + ' ' + this.ln;
            // },
            // ln: function(val) {
            //     this.fns = this.fn + ' ' + val;
            // }
        }, 
        computed: {
            
        },     
    })
</script>
</html>